<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="public/home.css" />
  </head>

  <body>
  <h1><%= @page_title %></h1>

    <%= yield %>

  </body>
</html>
